body {
  font-family: 'Helvetica', 'sans-serif';
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin: 10px 50px;
}

main {
  height: 100%;
}

h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 1.5rem;
  font-weight: normal;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-title {
  font-weight: bold;
  text-anchor: middle;
  font-size: 15px;
}

.axis {
  stroke-width: 1
}

.axis-label {
  font-size: 12px;
  transform-origin: center;
  transform-box: fill-box;
  text-anchor: middle;
}
