

body {
  font-family: 'Poppins', 'sans-serif';
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky; top: 0;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0px 3px 10px 2px rgba(2, 11, 33,0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
}

#subtitle-dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: 'row';
  width: 600;
}


h3 {
  font-size: 18px;
  font-weight: normal;
}

#subtitle-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

#subtitle-container h3 {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

h3:empty {
  display: none;
 }

#dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#year-label {
  width: 70
}

#dropdown {
  flex: 0;
  margin-left: 8;
  font-size: 17px;
}

main {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: normal;
}

#spinner {
  border: 10px solid #d8dbe3;
  border-top: 10px solid #f58516;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#viz-container {
  visibility: hidden;
  top: 140;
  position: absolute;
}

.graph {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px 2px rgba(2, 11, 33,0.5);
}

.main-svg {
  margin: 20px;

}

.graph-title {
  font-weight: bold;
  text-anchor: middle;
  font-size: 15px;
}

.axis {
  stroke-width: 1
}

.axis-label {
  font-size: 12px;
  transform-origin: center;
  transform-box: fill-box;
  text-anchor: middle;
}

.empty-label {
  font-size: 14px;
  fill: #505050;
  transform-origin: center;
  transform-box: fill-box;
  text-anchor: middle;
}

.legendTitle {
  font-size: 15px;
}

.label {
  font-size: 10px;
}
