@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/Poppins/Poppins-Medium.ttf');
  src: local('Poppins Medium'), local('Poppins-Medium'),
      format('truetype');
}
